* {
    margin: 0;
    padding: 0;
}

#board {
    /* display: flex;
    justify-content: center;
    align-items: center; */
    width: 100%;
    height: 100%;
    overflow: hidden;
    border: solid 1.5px black;
}

/*меню со стартом*/
.menuscreen {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.startbutton {
    border: solid 1px black;
    border-radius: 30px;
    box-shadow: 0px 5px 0px #c73153;
    width: 8vw;
    height: 6vh;
    text-decoration: none;
    cursor: pointer;
    color: #c71b43;
    background-color: white;
    transition: background-color 0.3s ease-in-out, transform 0.3s ease-in-out;
    font-size: 3vh;
}

.startbutton:hover,
.startbutton:focus {
    background-color: rgb(255, 242, 242);
    transform: scale(1.05);
}

/*сама мини-игра*/
.gamescreen {
    height: 100%;
    width: 100%;
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 14vh;
    position: relative;
    transition:  background-color 0.2s ease; /*Правильный ответ*/
}

.endbutton {
    border: solid 1px black;
    background-color: white;
    width: 2.5vw;
    height: 2.5vw;
    border-radius: 50%;
    text-decoration: none;
    cursor: pointer;
    position: absolute;
    top: 3%;
    left: 3%;
    transition: background-color 1s ease-in-out;
    overflow: hidden;
}

.backicon {
    position: absolute;
    top: 0%;
    left: 5%;
    width: inherit;
    height: inherit;
}

.endbutton:hover,
.endbutton:focus {
    background-color: rgba(212, 0, 0, 0.432);
}

.answerrow {
    display: flex;
    justify-content: center;
    column-gap: 5vw;
}

.answer {
    height: 3.5vw;
    width: 8vw;
    border: solid 1px black;
    background-color: white;
    border-radius: 50%;
    text-decoration: none;
    font-size: 1.5vw;
    transition: background-color 0.4s ease-out, transform 0.4s ease-out;
}

.answer1b:hover {
    background-color: rgb(217, 255, 220);
    transform: scale(1.1);
}

.answer2b:hover {
    background-color: rgb(255, 217, 217);
    transform: scale(1.1);
}

.qimg {
    border: solid 1px;
    border-radius: 20%;
    width: 13vw;
    background-color: white;
}

.rightanswer {
    position: absolute;
    top: 4.5%;
    right: 3%;
    font-size: 1.5vw;
}

.roundcount {
    position: absolute;
    top: 4.5%;
    right: center;
    border: solid 1px black;
    border-radius: 50%;
    width: 2vw;
    height: 2vw;
    background-color: white;
    font-size: 1.5vw;
}

.questionrow {
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 10%;
}

.reference {
    display: flex;
    border: solid 1px;
    border-radius: 20%;
    height: 100%;
    width: 13vw;
    justify-content: center;
    align-items: center;
    font-size: 4vw;
}

.equality {
    font-size: 2vw;
}

/*Results screen*/
.resultscreen {
    width: 100%;
    height: 100%;
    display: none;
    flex-direction: column;
    justify-content: center;
    row-gap: 6vw;
}

.exitbuttons {
    display: flex;
    flex-direction: row;
    justify-content: center;
    column-gap: 8vw;
}

.startagain {
    width: 8vw;
    height: 3vw;
    border: solid 1px black;
    background-color: white;
    border-radius: 50%;
    text-decoration: none;
    transition: background-color 0.4s ease-out, transform 0.4s ease-out;
}

.startagain:hover {
    background-color: rgb(217, 237, 255);
    transform: scale(1.1);
}