div.gamecontainer {
    display: flex;
    margin: 0 auto;
    width: 220vw;
    height: 38.5vw;
    padding: 0;
    justify-content: center;
    align-items: center;
    text-align: center;
    border: none 5px black;
    background-color: white;
}

div.home, div.contact {
    flex-direction: column;
    row-gap: 3vh;
    border: solid 1px;
}

.home p, .contact{
    font-size: 1vw;
}